<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <style>


      .row {
          margin-right: -15px;
          margin-left: -15px;
          display: flex;
          flex-direction: column;
      }
      .col-md-4 {
        width: 100%;
      }
      a img {
        width: 500px;
     }
     </style>
    <title>Document</title>
</head>
<body>
    <% data.map((data,index) => { %>
        <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="../upload/document/<%-data %>" target="_blank">
                  <img src="../upload/document/<%-data %>" alt="<%-data %>" />
                </a>
              </div>
            </div>
        <% }) %>
</body>
</html>